html {
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
  left: 0;
  right: 0;
  font-family: "Lato";
}

p {
  font-size: 0.75rem;
  color: #404040;
  padding-bottom: 0.5rem;
  font-size: 1rem;
  line-height: 1.4;
}

h3 {
  font-size: 2.5rem;
  color: #404040;
  font-weight: 900;
}

h4 {
  font-size: 1.5rem;
  color: #404040;
  font-weight: 700;
  padding-bottom: 0.5rem;
}

body {
  margin: 0;
}

.container {
  width: 100%;
}

/*Header*/

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 4rem;
  margin: 0.5rem 1.5rem;
  margin-bottom: 0;
}

.header nav span {
  padding-left: 1rem;
  color: dimgray;
}

    /*Logo*/

.logo img {
  height: 3.5rem;
}

.emblem {
  display: flex;
  align-items: center;
}

.name {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 2;
  text-transform: uppercase;
  font-size: 1.5rem;
  max-height: 4rem;
}

.name #one {
  font-weight: 900;
  color: #696969;
}

.name #two {
  color: lightgray;
}


/*Banner*/

.banner {
  background-color: lightgray;
  flex-direction: row;
  width: 100%;
}

.content {
  display: flex;
  justify-content: flex-start;
  padding: 2rem 1.5rem;
}

.banner .image-content {
  width: 60%;
  height: auto;
  padding-right: 3rem;
}

.banner .image-content img {
  width: 100%;
  height: auto;
  padding-right: 1.5rem;
}

.banner .text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
}

.banner .text-content h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #404040;
  line-height: 1.2;
  font-weight: 900;
}

.banner .text-content h4 {
  margin-bottom: 1rem;
  line-height: 1.2;
}

.banner .text-content h5 {
  color: white;
  background-color: #696969;
  padding: 0.5rem;
  font-size: 1.25rem;
  font-weight: 400;
  text-align: center;
  width: 85%;
  font-family: "Lato";
}

/*Articles*/

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 100%; /*change this code later: add it to somewhere else*/
  margin:
}

.articles {
  display: flex;
  flex-direction: row;
}

/*Main Article*/

.articles .big {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 2rem 1.5rem;
  border-right: 1px solid lightgray;
}

.articles .big img {
  width: 100%;
}

.articles .big h3 {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}

.articles .big p {
  font-size: 1rem;
  line-height: 1.4;
  width: 85%;
  padding-bottom: 2rem;
}

.articles .big h6 {
  font-size: 0.9rem;
}

/*Small Articles Inside*/

.articles .small {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 1rem 0;
}

.small .article {
  display: flex;
}

.small .article .text-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.small .article .image-content {
  width: 35%;
  height: auto;
  max-height: 35%;
  margin: 1rem 1rem;
}

.article .image-content img {
  width: 100%;
}

.small .article .text-content {
  width: 65%;
}

.article .text-content h4,
.article .text-content p {
  padding-bottom: 0.5rem;
}

.article .text-content p {
  font-size: 1rem;
  line-height: 1.4;
}

#read {
  color: #6699ff;
}

.article.last {
  background-color: lightgray;
}

/*Courses*/

.learning {
  background-color: lightgray;
}

.learning h3 {
  padding-top: 2rem;
  text-align: center;
}

.courses {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  padding: 2rem 4.5rem;
}

.course {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
  margin-bottom: 1rem;
  width: 30%;
  background-color: white;
}

.course .image-content {
  width: 100%;
  height: auto;
}

.course .image-content img {
  width: 100%;
}

  /*Course Text-Content*/
.course .text-content {
  width: 85%;
  padding: 1.25rem;
  height: 100%;
}
