html {
  font-size: 16px;
  margin-top: 0;
  left: 0;
  right: 0;
}

body {
  margin: 0;
}


/*Header*/

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 4rem;
  margin: 0.5rem 1.5rem;
  margin-bottom: 0;
}

.header nav span {
  padding-left: 1rem;
}

    /*Logo*/

.logo img {
  height: 3.5rem;
}

.emblem {
  display: flex;
  align-items: center;
}

.name {
  flex-grow: 2;
}

.name {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.5rem;
  max-height: 4rem;
}

.name #one {
  font-weight: bold;
  color: darkgray;
  text-transform: uppercase;
}

.name #two {
  color: lightgray;
  text-transform: uppercase;
}


/*Banner*/

/*.banner {
  background-color: gray;
  height: 500px;
}*/
